<div class="row">
  <div class="col-6"><h1>Users</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/add-user" type="button" class="btn btn-dark text-white align-self-center">+ add new users</a>
  </div>

</div>



<table class="table table-bordered" style="color: #206C43">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Age</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.number}}</th>
      <td>{{this.userid}}</td>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.age}}</td>
      <td class="text-center">
          <a href ="/edit-user/:{{this.number}}" type="button" class="btn btn-light btn smal" ><i class="bi bi-pencil"></i> Edit</a>
          <a href ="#" type="button" class="btn btn-light btn smal" ><i class="bi bi-trash"></i> Delete</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>